html, body, pre, code, kbd, samp {
    font-family: 
    'Press Start 2P', cursive;
}

html, body {
    height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

nav {
  width: 100%;
}

#login {
  max-width: 650px;
  margin: 20px;
}

#login_btn_row {
  margin-top: 15px;
}

#greeting {
  margin: 30px 0px 30px;
}