html, body, pre, code, kbd, samp {
    font-family: 
    'Press Start 2P', cursive;
}

html, body {
    height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  width: 100% !important;
}

#experience {
  height: 300px;
  vertical-align: top;
}

#login {
  max-width: 650px;
  margin: 20px;
}

#login-alerts {
  width: fit-content;
  padding-top: 10px;
}

#login_btn_row {
  margin-top: 15px;
}

#login-fail-alert, #login-forgot {
  margin: 0;
}

#greeting {
  margin: 30px 0px 30px;
}

#mage-greeting-form {
  margin: 20px 0px;
}

#social-icons {
  padding-top: 5px;
}

.element {
  padding: 10px;
}

.form-field {
  width: 500px;
}

.footer-text {
  font-size: 10px;
}

.hidden {
  display: none;
}