<!-- This file is not to be used directly, template only. -->
<!doctype html>

<html lang="en">

{% include 'header.html' %}
{% include 'menu.html' %}

<body>
    <main role="main">
        <h1>Application Confirmation</h1>

        <section id="mage-greeting">
            <!-- Speech Bubble -->
            <div class="nes-balloon from-left">
                <p>Hey there! Thank you for submitting your (fake) job application! The data has been verified successfully! As a reminder, no data was saved during this process. Feel free to fill out application as many times as you would like!</p>
            </div>
            <img alt="An 8-bit sprite the the white mage." src="{{ url_for('static', filename='img/wmage.gif')}}">
        </section>

        <section id="app-confirmation">
            <p class="app-section">Position: {{ form['position'] }}</p>
            {% if (form['position'] == 'Assistant to the Regional Manager') %}
                <p class="app-section">Branch: {{ form['branch'] }}</p>
            {% endif %}

            <p class="app-section">First Name: {{ form['fname'] }}</p>
            <p class="app-section">Last Name: {{ form ['lname'] }}</p>
            <p class="app-section">Email: {{ form['email'] }}</p>
            <p class="app-section">Street Address: {{ form['street'] }}</p>
            <p class="app-section">City: {{ form['city'] }}</p>
            <p class="app-section">Zip Code: {{ form['zcode'] }}</p>
            <p class="app-section">Salary Requested: {{ form['salary'] }}</p>
            <p class="app-section">Experience: <br />
                {{ form['experience'] }}</p>
            <p class="app-section">Are you willing to work 90 hour weeks? {{ form['work'] }}</p>
            <p class="app-section">Requested Start Date: {{ form['startdate'] }}</p>
        </section>
    </main>
</body>

{% include 'footer.html' %}


</html>