<!doctype html>

<html lang="en">

{% include 'header.html' %}
{% include 'menu.html' %}

<body>
    <main role="main">

        {% block content %}
      
        <form method='POST' action="{{ url_for('confirmation') }}">

          {% for field in form %}
            <div class="element">

              {% if field.type == "RadioField" %}        
                {{form.work.label}}
                {% for subfield in form.work %}
                  <label>
                    {{ subfield(class='nes-radio') }}
                    <span>Yes</span>
                  </label>
                {% endfor %} 
              
              {% elif (field.type == "StringField" or
                        field.type == "IntegerField" or
                        field.type == "TextAreaField") %}
                {{ field.label }}<br />
                {{ field(class='nes-input') }}<br />
              
              {% elif (field.type == "BooleanField")%}
                {{ field.label }}
                <br />
              <label>
                {{ field(class="nes-checkbox") }}
                <span>I agree!</span>
              </label>

              
              {% elif (field.type == "SubmitField")%}
                  {{ field(class="nes-btn is-primary") }}<br />
              {% endif %}
            </div>

          {% endfor %}
          
        </form>
        
        {% endblock %}
    </main>
</body>

{% include 'footer.html' %}


</html>