<!doctype html>

<html lang="en">

{% include 'header.html' %}
{% include 'menu.html' %}

<body>
    <main role="main">
      <h1>Forms</h1>
      <section id="mage-greeting-form">
        <!-- Speech Bubble -->
        <div class="nes-balloon from-left">
            <p>Forms are probably one of the most common elements on a webpage or application. From logging in to placing an order, collecting relelvant data is important. Use the demo job application below to test out your form automation scripts!</p>
        </div>
        <br />
        <img alt="An 8-bit sprite the the black mage." src="{{ url_for('static', filename='img/bmage.gif')}}">
      </section>

      
      <!-- {% block content %} -->
      {% for field, errors in form.errors.items() %}
      {{ ', '.join(errors) }}
      {% endfor %}
        <form method="POST" action="">
          {{ form.csrf_token() }}

          {% for field in form %}
            <div class="element">

              {% if field.type == "RadioField" %}        
                {{form.work.label}}
                {% for subfield in form.work %}
                  <label>
                    {{ subfield(class='nes-radio') }}
                    <span>Yes</span>
                  </label>
                {% endfor %} 
              
              {% elif (field.type == "StringField" or
                        field.type == "IntegerField" or
                        field.type == "TextAreaField") %}
                {{ field.label }}<br />
                {{ field(class='nes-input form-field') }}<br />
              
              {% elif (field.type == "BooleanField")%}
                {{ field.label }}
                <br />
              <label>
                {{ field(class="nes-checkbox") }}
                <span>I agree!</span>
              </label>
              
              {% elif (field.type == "SubmitField")%}
                  {{ field(class="nes-btn is-primary") }}<br />

              {% elif (field.type == "SelectField") %}
                {{ field.label }}<br />
                <div class="nes-select">
                  {{ field }}<br />
                </div>
              
              {% elif(field.type == "DateField") %}
                <section id="start-date" class="hidden">
                  {{ field.label }}<br />
                  {{ field(class='nes-input') }}<br />
                </section>
              {% endif %}
              
              </div>
          {% endfor %}
        </form>
      <!-- {% endblock %} -->
    </main>
</body>

{% include 'footer.html' %}
<script src="{{ url_for('static', filename='js/application.js') }}"></script>

</html>