<!-- This file is not to be used directly, template only. -->
<!doctype html>

<html lang="en">

{% include 'header.html' %}
{% include 'menu.html' %}

<body>
    <main role="main">

        {% block content %}
      
        <form method='POST' action="{{ url_for('confirmation') }}">
          {{ form.name.label(id='form_name_label', class='nes-input') }} <br />
          {{ form.name(id='form_name') }}<br />

          {{ form.email.label(id='email_form_label') }}<br />
          {{ form.email(id='form_email') }}<br />

          {{ form.body.label(id='form_message_label') }}<br />
          {{ form.body(cols="40", rows="5", id='form_message') }}<br />

          {{ form.submit(id='submit_button') }}
        </form>
        
        {% endblock %}
    </main>
</body>

{% include 'footer.html' %}


</html>