<!doctype html>

<html lang="en">

{% include 'header.html' %}
{% include 'menu.html' %}
<body>
    <main role="main">
        <h1>You're in!</h1>

        <section id="mage-greeting">
            <!-- Speech Bubble -->
            <div class="nes-balloon from-left">
                <p>Howdy! Thank you for stopping by, I hope you find this resource helpful! The project is a collection of various elements that are common on a wide variety of web apps. The purpose is to create an environment where developers and engineers can practice and demonstrate their web automation skills! All changes made in this environment are temporary, so there is no fear of breaking anything.</p> <br />

                <p>If you need some help getting started, take a look at some of these <a href="#">resources!</a></p> <br />

                <p>Have fun!</p>
            </div>
            <img alt="An 8-bit sprite the the black mage." src="{{ url_for('static', filename='img/bmage.gif')}}">
        </section>
    </main>
</body>

{% include 'footer.html' %}

</html>