<!doctype html>

<html lang="en">

{% include 'header.html' %}

<body>
    <main role="main">
        <h1>Welcome to 8-Bit Automation!</h1>
        <section id="greeting" class="nes-container with-title">
            <p class="title">Getting Started</p>
            <p>This project was designed to give developers a playground to learn about web automation. Any actions taken on this website are not permanent and it makes for a great place to practice writing automated scripts!</p> <br />

            <p>If you are new to web automation or coding, <a href="#">start here!</a></p>

            <p class="hidden" id="password-hint"> <br /> Oh yeah, the password (I almost forgot)! The login is 'Admin' and the password is 'Kirby'. You can also bypass the login page by going to the <a href="/home">next page directly</a>. (It has been suggested that whoever is in charge of security around here isn't very good.)</p>
        </section>

        <section id="login" class="nes-container with-title">
            <p class="title">Login</p>
            <form id="login_form">
                <label for="login_field">Login Name</label>
                <input type="text" id="login_field" class="nes-input" placeholder="Admin">
                <label for="password_field">Password</label>
                <input type="password" id="password_field" class="nes-input" placeholder="Kirby">
                <section id="login_btn_row">
                    <button id="login_btn" type="button" class="nes-btn is-primary">Login</button>
                    <button id="cancel_btn" type="button" class="nes-btn is-warning">Cancel</button>
                </section>
            </form>
            <section id="login-alerts">
                <p id="login-fail-alert" class="nes-text is-error hidden">Login Failed</p>
                <p id="login-forgot" class="nes-text is-primary hidden nes-pointer">Forgot the password?</p>
            </section>
        </section>
        <i class="nes-kirby"></i>
    </main>

</body>

{% include 'footer.html' %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</html>